#include "{{ plugin_name }}Module.h"
#include "MeshService.h"

{{ plugin_name }}Module::{{ plugin_name }}Module() : SinglePortModule("{{ plugin_slug }}", meshtastic_PortNum_TEXT_MESSAGE_APP)
{
#ifdef {{ plugin_slug_snake_upper }}_PLUGIN_DIAGNOSTICS
    extern void {{ plugin_slug_cpp }}_diagnostics();
    {{ plugin_slug_cpp }}_diagnostics();
#endif
}

ProcessMessage {{ plugin_name }}Module::handleReceived(const meshtastic_MeshPacket &mp)
{
    // TODO: Handle incoming messages
    return ProcessMessage::CONTINUE;
}

{{ plugin_name }}Module *{{ plugin_slug_cpp }}Module;

